<h1><%= @article.title %></h1>

<% @article.summary.map do |summary| %>
  <p>summary: <%= summary %></p>
<% end %>
<p><%= @article.body %></p>

<% if !@article.status_public? %>
  <p>Status: <b><%= @article.status.value %></b></p>
<% end %>

<% if current_user.has(&:author?) %>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>

<h2>Comments</h2>
<%= render @article.comments %>

<% if current_user.has(&:guest?) %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form', article: @article %>
<% else %>
  <%= link_to "Login to comment", auth.login_path(redirect: request.path) %>
<% end %>
