<p>
  <%= link_to "Home", root_path %>

  <% if @_current_user&.role?('admin') %>
    <%= link_to "Users", users_path %>
  <% end %>

  <% if @_current_user.present? %>
    <%= @_current_user.name %> (<%= @_current_user.role %>)
    <%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Login", login_path(redirect: request.path) %>
  <% end %>
</p>
